p {
    font-family: 'Ubuntu',sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.subtitle {
    font-size: smaller;
}